<header>
  <h1>Burguer Queen</h1>
</header>


<aside>
  <div class="row flex-xl-nowrap">


    <div class="col">
      <div class="mt-5 ml-2">
        <app-menu-select (typeFood)="breakfast = $event"></app-menu-select>
      </div>
      <div class="mt-4 ml-2">
        <app-detail-menu [typefood]="breakfast" (food)="orderFood = $event" (haveOrder)="haveOrder = $event"></app-detail-menu>
      </div>
    </div>


    <div class="col-4 offset-md-1">
      <app-orders [haveOrder]="haveOrder" [orderFood]="orderFood"></app-orders>
    </div>


    <!-- <div [ngClass]="{'col-12': !haveOrder, 'col': haveOrder}">
      <div class="mt-4 ml-2" [ngClass]="{'mr-2': !haveOrder}">
        <app-menu-select (typeFood)="breakfast = $event"></app-menu-select>
      </div>
      <div class="mt-4 ml-2">
        <app-detail-menu [typefood]="breakfast" (food)="orderFood = $event" (haveOrder)="haveOrder = $event"></app-detail-menu>
      </div>
    </div>


    <div [ngClass]="{'col-4': haveOrder, 'offset-md-1': haveOrder}">
      <app-orders [haveOrder]="haveOrder" [orderFood]="orderFood"></app-orders>
    </div> -->


  </div>


</aside>
