<div class="" *ngIf="haveOrder">

  <h4 class="mt-5 mb-4">Orden</h4>

  <div class="container-total">


    <table class="table" >
      <tbody *ngFor="let item of uniqueContentOrders">
        <tr>
          <td>{{ item.food}}</td>
          <td>S/.{{ item.price}}.00</td>
        </tr>
        <!-- <tr>
          <td>Café Expreso</td>
          <td>S/.3</td>
        </tr>
        <tr>
          <td>Café Expreso</td>
          <td>S/.4</td>
        </tr> -->
      </tbody>
    </table>
  </div>


  <app-total [amount]="totalAmount"></app-total>


</div>
