<div class="row">

  <!-- tabla de desayuno -->
  <table *ngIf="typefood" class="table col-12 table-hover">
    <thead>
      <tr>
        <th scope="col">Desayuno</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of breakfastArr; let i=index">
      <tr>
        <td><label [for]="item.food">{{item.food}}</label></td>
        <td>S/.{{item.price}}.00</td>
        <td class="text-right">
          <input [id]="item.food" class="checkbox-max" type="checkbox" [checked]="item.checked" (click)="selectOrder(item, i, 'breakfastArr')"></td>
      </tr>
    </tbody>
  </table>

  <!-- tabla de menú -->
  <table *ngIf="!typefood" class="table col-12 table-hover">
    <thead>
      <tr>
        <th scope="col">Menú</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of menuArr; let i=index">
      <tr>
        <td><label [for]="item.food">{{item.food}}</label></td>
        <td>S/.{{item.price}}.00</td>
        <td class="text-right">
          <input class="checkbox-max" [id]="item.food" [name]="item.food" [value]="item.food" type="checkbox" [checked]="item.checked"
            (click)="selectOrder(item, i, 'menuArr')"></td>
      </tr>
    </tbody>
  </table>


</div>
